<div class="sub-header">
  <h2>Subject</h2>
</div>

<div class="content-container">
  <mat-card class="form-card">
    <h2>Create Subject</h2>
    <form [formGroup]="createSubjectFormGroup" fxLayout="column">
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="50">
          <mat-label>Select Course</mat-label>
          <mat-select formControlName="course">
            <mat-option *ngFor="let course of courses" [value]="course">{{
              course.courseName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp; &nbsp;&nbsp; &nbsp;
        <mat-form-field fxFlex="50">
          <mat-label>Subject Name</mat-label>
          <input formControlName="subjectName" matInput type="text" />
        </mat-form-field>
      </div>

      <div class="mt-2" fxLayoutAlign="end">
        <button mat-raised-button color="primary" (click)="createSubject()">
          Create
        </button>
      </div>
    </form>
  </mat-card>
</div>
