/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/theming';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button{
  background-color:#F59D19;
}

// @include mat-core();

// $custom-orange: mat-palette($mat-orange, 500);

// $custom-theme: mat-light-theme((
//   color: (
//     primary: $custom-orange,
//   )
// ));

// @include angular-material-theme($custom-theme);


@tailwind base;
@tailwind components;
@tailwind utilities;
