<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <span>Subject name</span>
</mat-toolbar>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    <span
      [ngClass]="{
        'text-primary': rla.isActive,
        'font-weight-bold': rla.isActive
      }"
      >{{ link.label }}</span
    >
  </a>
</nav>

<mat-tab-nav-panel #tabPanel>
  <div class="p-3">
    <router-outlet></router-outlet>
  </div>
</mat-tab-nav-panel>
