<div class="sub-header">
  <h2>Manage Instructors</h2>
</div>
<div class="content-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="Phone Number">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let element">{{ element.phonenumber }}</td>
    </ng-container> -->

    //Symbol Column
    <!-- <ng-container matColumnDef="Batch">
      <th mat-header-cell *matHeaderCellDef>Batch</th>
      <td mat-cell *matCellDef="let element">{{ element.batch }}</td>
    </ng-container>
    <ng-container matColumnDef="Course">
      <th mat-header-cell *matHeaderCellDef>Course</th>
      <td mat-cell *matCellDef="let element">{{ element.course }}</td>
    </ng-container> -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>

      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="onClickEdit(element._id)">
          <mat-icon>Edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'email', 'action']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'action']"></tr>
  </table>
</div>
