<div class="vh-100">
  <mat-toolbar class="bg-white">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div class="logo-container"></div>
      <div fxLayout="row">
        <div fxShow="true" fxLayoutGap="14px" fxLayoutAlign="space-between">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="position">account_circle</mat-icon>
            <span class="ml-1">{{ this.profileDetails?.name }}</span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/instructor', 'account']">
              Account Settings
            </button>
            <mat-divider> </mat-divider>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </div>
        <button
          mat-icon-button
          (click)="sidenav.toggle()"
          fxShow="true"
          fxHide.gt-sm
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav class="sidenav" #sidenav mode="side" opened>
      <mat-nav-list fxLayout="column" fxLayoutGap="12px">
        <div class="profile-image-container"></div>
        <button mat-raised-button [routerLink]="['/instructor', 'subjects']">
          Subjects
        </button>
        <button
          mat-raised-button
          [routerLink]="['/instructor', 'messages']"
          routerLinkActive="router-link-active"
        >
          Message
        </button>
        <button
          mat-raised-button
          [routerLink]="['/instructor', 'prepare-questions', 'subjectId']"
          routerLinkActive="router-link-active"
        >
          Prepare Question
        </button>
        <button
          mat-raised-button
          [routerLink]="['/instructor', 'live-class']"
          routerLinkActive="router-link-active"
        >
          Live Class
        </button>
        <button
          mat-raised-button
          [routerLink]="['/instructor', 'assignment']"
          routerLinkActive="router-link-active"
        >
          Assignment
        </button>
      </mat-nav-list>
    </mat-sidenav>
    <div class="p-4">
      <mat-card class="p-0">
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </mat-sidenav-container>
</div>
