<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <span>Assignment</span>
</mat-toolbar>
<mat-card class="min-vh-80">
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      <span
        [ngClass]="{
          'text-primary': rla.isActive,
          'font-weight-bold': rla.isActive
        }"
        >{{ link.label }}</span
      >
    </a>
  </nav>
  <div class="pt-3">
    <router-outlet></router-outlet>
  </div>
</mat-card>
