<div class="sub-header">
  <h2>Course</h2>
</div>

<div class="content-container">
  <mat-card class="form-card">
    <h2>{{ isEditMode ? "Update" : "Create" }}Course</h2>
    <form [formGroup]="createCourseFormGroup">
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="50">
          <mat-label>Name</mat-label>
          <input formControlName="courseName" matInput type="text" />
          <mat-error>Course name is required</mat-error>
        </mat-form-field>
        &nbsp; &nbsp;&nbsp; &nbsp;
        <mat-form-field fxFlex="50">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="100">
          <mat-label>Subject</mat-label>
          <mat-select formControlName="subject" multiple>
            <mat-option *ngFor="let subject of subjectList" [value]="subject">{{
              subject.subjectName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;
      </div>

      <div class="mt-2" fxLayoutAlign="end">
        <button mat-raised-button color="primary" (click)="createCourse()">
          {{ isEditMode ? "Update" : "Create" }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
