<div class="border p-3 content-container max-height-300" fxLayout="column">
  <h2 class="m-0 rounded text-accent">{{ senderName }}</h2>

  <app-message-list
    *ngFor="let conversation of conversations"
    [messageSender]="conversation.from"
    [messageContent]="conversation.content"
    [messageTime]="conversation.time"
    [isMessageFrom]="conversation.senderId == userId"
    [conversationMode]="true"
  >
  </app-message-list>
</div>
<div fxLayout="column">
  <mat-form-field fxFlex="100" appearance="outline">
    <mat-label>Add comment</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="9"
      [(ngModel)]="commentMessage"
    ></textarea>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="end end">
    <button
      [disabled]="!commentMessage || commentMessage == ''"
      (click)="onClickComment()"
      mat-raised-button
      color="primary"
    >
      Send
    </button>
  </div>
</div>
